h1 {
    text-align: center;
    font-weight: 600;
    margin: 60px 0;
    font-size: 42px;
}

nav {
    background-color: transparent;
    height: 80px;
    a {
        text-transform: uppercase;
        font-size: 13px;
    }
    .btn-toggle {
        width: 20px;
        height: 20px;
        border: 1px solid $secondary;
        border-radius: 5px;
    }
    .btn-connexion {
        border-radius: 0;
    }
}
