p {
    color: #909090;
    padding: 1rem;
}

h3 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

button {
    text-transform: uppercase;
    font-size: 13px !important;
}

.card {
    border: none;
    .card-body {
        text-align: center;
        .product-info {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: 600;
            .product-name {
                letter-spacing: -1px;
            }
            .product-prices {
                .old-price {
                    color: #6d6a6a;
                    text-decoration: line-through;
                }
            }
        }
    }
}
