p {
    color: #909090;
    padding: 1rem;
}

h3 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

// button {

// }
