@import "./variables";
@import "./font";
@import "./icons";
@import "./components";
@import "./pages/header";
@import "./pages/recents-products";
@import "./pages/discover";
@import "./pages/fashion-products";
@import "./pages/learn-more";
@import "./pages/footer";

body {
    font-family: $font-1;
}
