@import "./variables";
@import "./font";
@import "./icons";
@import "./components";
@import "./pages/header";
@import "./pages/recents-products";
@import "./pages/discover";

body {
    font-family: $font-1;
}

.ff-1 {
    font-family: $font-1;
}
